<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".patt" mimeType="ar/hiro-pattern" />
            <mimeMap fileExtension=".dat" mimeType="ar/camera-param" />
        </staticContent>
    </system.webServer>
</configuration>
